<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_add(){
	location.href = "emp_add.do"
}

</script>
</head>
<body>
	EMP LIST화면
<table border="1px">
	<tr>
		<td>사번</td>
		<td>이름</td>
		<td>성별</td>
		<td>주소</td>
	</tr>
<% mylist.forEach(vo => { %>
	<tr>
		<td><a href="emp_detail.do?e_id=<%= vo.e_id %>"><%= vo.e_id %></a></td>
		<td><%= vo.e_name %></td>
		<td><%= vo.gen %></td>
		<td><%= vo.addr %></td>
	</tr>
<% }); %>
</table>
<button onclick="fn_add()">추가</button>
</body>
</html>

