<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_add(){
	location.href = "emp_add.do"
}

</script>
</head>
<body>
EMP LIST<br/>


<table border="1px">
	<tr>
		<td>사번</td>
		<td>이름</td>
		<td>성별</td>
		<td>주소</td>
	</tr>
{{#list}}
	<tr>
		<td><a href="emp_detail.do?e_id={{e_id}}">{{e_id}}</a></td>
		<td>{{e_name}}</td>
		<td>{{gen}}</td>
		<td>{{addr}}</td>
	</tr>
{{/list}}
</table>
<button onclick="fn_add()">추가</button>

</body>
</html>