<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
WELCOME<br/>
{{a}}<br/>
{{b}}<br/>

{{#b}}
	{{.}}<br/>
{{/b}}

{{#c}}
	{{menu}}, {{price}}<br/>
{{/c}}

</body>
</html>